.signin-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50svh;
  width: 50svw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  gap: 1rem;
}

.signin-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.signin-question {
  display: flex;
  gap: .5rem;
}

.signin-input {
  padding: 1rem;
  height: 40px;
  width: 100%;
  border: 2px solid #ccc;
  background-color: #fff;
  border-radius: 8px;
}

.signin-btn {
  padding: 10px 24px;
  border: none;
  background-color: #008cbf;
  color: #fff;
  border-radius: 12px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.signin-btn:hover {
  background-color: #005f8a;
  transform: scale(1.05);
}

.signin-btn:active {
  transform: scale(.95);
}

.signin-separator {
  color: #000;
}

.oauth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.oauth-btn {
  flex: 1;
  display: flex;
  height: 48px;
  width: 48px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  border: 2px solid #ccc;
  padding: .2rem;
  transition: all .2s ease-in-out;
}

.oauth-btn:hover {
  transform: scale(1.05);
}

.oauth-btn:active {
  transform: scale(.95);
}

.signin-question-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}