.forgot-password-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50svh;
    width: 50svw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    gap: 1rem;
}

.forgot-password-input {
    padding: 1rem;
    height: 40px;
    width: 100%;
    border: 2px solid #ccc;
    background-color: #fff;
    border-radius: 8px;
}

.forgot-password-btn {
    padding: 10px 24px;
    border: none;
    background-color: #008cbf;
    color: #fff;
    border-radius: 12px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.forgot-password-btn:hover {
    background-color: #005f8a;
    transform: scale(1.05);
}

.forgot-password-btn:active {
    transform: scale(.95);
}

.forgot-password-question {
    display: flex;
    gap: .5rem;
}

.forgot-password-question-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}